.photo-gallery {
  display: grid;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-auto-rows: 361px;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 910px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(fit-content, 361px);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .photo-gallery {
    display: flex;
    max-width: 88.13%;
    margin-top: 36px;
    flex-direction: column;
    align-items: center;
  }
}