.popup__input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  border: none;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

@media screen and (max-width: 910px) {
  .popup__input {
    min-width: 238px;
  }
}