.popup__button {
  width: 100%;
  min-height: 50px;
  margin: 0;
  /*margin-bottom: 34px;*/
  padding: 0;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .popup__button {
    min-width: 238px;
    min-height: 46px;
    margin-top: 16px;
    
    /*margin-bottom: 25px;*/
    font-size: 14px;
  }
}