.popup__close-ikon {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/popup-Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  /* Указаны координаты в соответствии с макетом; и учетом паддингов контейнера - для правильного расположения
  кнопки закрытия попапа, по макету. */
  top: calc(-8px + -36px);
  right: calc(-8px + -34px);
  border: none;
  align-self: flex-end;
}

.popup__close-ikon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .popup__close-ikon {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
     /* Указаны координаты в соответствии с макетом и учетом паддингов контейнера. */
    top: calc(-16px + -22px);
    right: 0;
  }
}