.profile__info {
  display: grid;
  max-width: 336px;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "avatar full-name edit-button"
    "avatar activity activity";
  row-gap: 6px;
  column-gap: 18px;
}

@media screen and (max-width: 910px) {
  .profile__info {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "avatar avatar"
      "full-name edit-button"
      "activity activity";
    row-gap: 8px;
    column-gap: 10px;
    justify-content: center;
  }
}