.profile__info {
  display: grid;
  max-width: 336px;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "avatar full-name edit-button"
    "avatar activity activity";
  row-gap: 6px;
  column-gap: 18px;
}

@media screen and (max-width: 910px) {
  .profile__info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}