.popup__text {
  /* Если указать width=100% - инпут растягивается по всей ширине контейнера,
  настройка margin и padding по ширине не срабатывает, поэтому я применила min-width */
  min-width: 358px;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

@media screen and (max-width: 910px) {
  .popup__text {
    min-width: 238px;
    margin-bottom: 26px;
  }
}